@import "../../globalColor";

.tw-main-div {
  @include section;

  .centerContent {
    display: flex;
    justify-content: center;
  }

  iframe {
    border-radius: var(--radius-lg) !important;
  }
}
