@import "../../globalColor";

.repo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.15rem;
}

.projects__cta {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
